<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PSEUDOFRAMEWORK</title>
    <link href="./bulma-0.8.2/bulma-0.8.2/css/bulma.min.css" rel="stylesheet">
</head>
<body>
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        PSEUDO
      </h1>
      <h2 class="subtitle">
        FRAMEWORK
      </h2>
    </div>
  </div>
</section>

</body>
</html>